<main class="container-fluid" id="main-container">
      <h2>Welcome to Practistics!</h2>
      <p>Enter your authentication key from the web dashboard:</p>

      <input
          name="Key"
          placeholder="Authentication Key"
          aria-label="Key"
          aria-describedby="authkey"
      />
      <h5 id="error-message">Failed log-in. Please try again.</h5>


      <small id="authkey">
        <a href="https://practistics.live">Don't have an account? Sign up here.</a>
      </small>
      <button hx-post="https://rest-api-t8pa.onrender.com/overwolf/login" hx-swap="outerHTML" hx-target="#main-container" hx-vals='{"key": this.querySelector("input[name=Key]").value}'>Authenticate</button>
</main>