
<div class="container-fluid center">
    <h1 id="event-message"></h1>

    <button onclick="discardMatch()" id="discard" style="display: none">Discard Current Match</button>
    <button onclick="window.open('https://practistics.live', '_blank')" id="dashboard">Open Web Dashboard</button>

</div>


{#    <script>#}
{#        document.querySelector("button").addEventListener("click", () => {#}
{#            const key = document.querySelector("input").value;#}
{#            fetch("https://practistics.live/api/authenticate", {#}
{#                method: "POST",#}
{#                headers: {#}
{#                    "Content-Type": "application/json"#}
{#                },#}
{#                body: JSON.stringify({ key })#}
{#            }).then(res => {#}
{#                if (res.ok) {#}
{#                    window.location.href = "/dashboard";#}
{#                } else {#}
{#                    document.querySelector("#error-message").style.display = "block";#}
{#                }#}
{#            });#}
{#        });#}
    </main>


