
<main class="container-fluid">
    <script src="main.js"></script>
    <h1 id="event-message"></h1>

    <button onclick="open('https://practistics.live')" id="">Open Web Dashboard</button>

</main>




















{#    <script>#}
{#        document.querySelector("button").addEventListener("click", () => {#}
{#            const key = document.querySelector("input").value;#}
{#            fetch("https://practistics.live/api/authenticate", {#}
{#                method: "POST",#}
{#                headers: {#}
{#                    "Content-Type": "application/json"#}
{#                },#}
{#                body: JSON.stringify({ key })#}
{#            }).then(res => {#}
{#                if (res.ok) {#}
{#                    window.location.href = "/dashboard";#}
{#                } else {#}
{#                    document.querySelector("#error-message").style.display = "block";#}
{#                }#}
{#            });#}
{#        });#}
    </main>


